.feynman {
  background-image: url(../../../images/feinman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  position: relative;
  height: 750px;
}
