*{
  margin: 0;
  padding: 0;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
  color: #000;
  box-sizing: border-box;


}
/*Начало - Первый блок,научиться учиться*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
@keyframes rotate_animation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  animation: rotate_animation 20s infinite linear;
}

.header__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 730px;
  height: 600px;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;

}

.header__link{
  color: #2f80ed;
  text-decoration: none;
}



.header__subtitle{
 position: absolute;
 left: 64px;
 bottom: 30px;
 width: 388px;
}

.header__subtitle_font_style{
  line-height: 25px;
  font-size: 18px;
}

.header__logo_place{
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
}

/*Конец - Первый блок, научиться учиться*/

/*Начало - Второй блок, главные проблемы в обучении*/

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  margin: 100px 0;
}
.two-columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__brief_font_edit{
  
}

.two-columns__paragraph_font_edit{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph_indent{
  padding: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

/*Конец - Второй блок, главные проблемы в обучении*/
/*________________*/
/*Начало - Третий блок, техника обучения*/
.techniques {
  width: 80%;
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
}

.section-title_indent {
  padding: 100px 0 20px;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 160px;

}

.card__item_indent {
  padding: 0 100px;
}

.cards__image {
  padding: 60px 40px 43px;
}

.cards__image_edit {
  border-radius: 160px;
  width: 160px;
  height: 160px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.cards__title_indent {
  padding-bottom: 16px;
}

.cards__item_another_aligne{
  align-self: center;
}
/*Конец - Третий блок, техника обучения*/
/*________________*/
/*Начало - Четвертый блок, цифры и факты*/

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width:60%;
  padding: 100px 0;
}

.digit__subtitle_indent {
  padding: 20px 0 60px;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text__two{
  padding-top: 20px;
}

.table__cell {
  width: 250px;
}

.table__cell_indent {
 padding-bottom: 60px;
}

.table__heading{
  padding-bottom: 20px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
/*Конец - Четвертый блок, цифры и факты*/
/*________________*/
/*Начало - Пятый блок, Принципы обучения*/


.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;

}

.kauufman__triangle{
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 0;
  animation: rotate_animation 20s infinite linear;

}

.section-title_theme_dark {
  color: white;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  z-index: 1;
}

.table_theme_dark{
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.table__heading_theme_dark {
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell_theme_dark_indent {
  padding: 80px 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/*Конец - Пятый блок, Принципы обучения*/
/*________________*/
/*Начало - Шустой блок, Полезные ресурсы*/
.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 217px;
}

.resources__section-title_indent {
  padding-bottom: 20px;
}

.resources__section-subtitle_indent{
  padding-bottom: 80px;
}
.resources__logo-zone {
  display: flex;
  flex-direction: row;
  width: 1100px;
}
.resources__logo {
  width: 270px;
  height: 38px;
  text-align: center;
}
/*Конец - Шестой блок, Полезные ресурсы*/
/*________________*/
/*Начало - Седьмой блок, footer*/
.footer {
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  min-height: 350px;
}

.footer_font_style{
  color: #fff;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__column-link {
  color: #2f80ed;
  padding-bottom: 10px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 711px;
}
.footer__columns_wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 711px;
  margin: 60px 0 40px;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__columns_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px 0 40px;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-heading {
  padding-bottom: 20px;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
}

.footer__columns_content_info {
  padding-bottom: 16px;
}
/*Конец - Седьмой блок, footer*/
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
}

.link_style_edit {
  opacity:100%;
  transition: opacity 2s ease;
}

.link_style_edit:hover {
  opacity:60%;
}

/* и элемента с модификатором вида ключ-значение */
/*Начало - Восьмой блок, Video*/
.video {
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around
}

.video_margin-top {
  margin-top: 100px;
}

.video_position_indent {
  position: relative;
  top:-100px;
}

.video__title, .video__subtitle{
  width:60%;
}

.video__title {
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.video__subtitle {
  padding-bottom: 50px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.video__iframes {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__irame_padding_right {
  padding-right: 20px;
}
/*Конец - Восьмой блок, Video*/
/*________________*/
/*Начало - девятый блок, Video*/
.history {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.history_margin_indent {
  margin: 160px auto -160px;

}

.history_position_indent {
  position: relative;
  top:-160px;
}

/*Конец - девятый блок, Video*/
/*________________*/
/*Начало - деcятый блок, Feynman*/

.feynman {
  background-image: url(../images/feinman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  position: relative;
  height: 750px;
}

.feynman_margin_indent {
  margin-top: 100px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
/*Конец - деcятый блок, Feynman*/
/*________________*/
/*Начало - Одиннадцатый блок, Салман Хан*/
.khan {
  width: 80%;
  margin:0 auto;
}
.khan_margin_indent {
  margin-top: 100px;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  padding: 50px 0 36px;
}

.khan__qoute-author{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  padding: 10px 0 68px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link{
  color: #2f80ed;
  text-decoration: none;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}

.khan__book-pic{
  height: 620px;
  width: 608px;
}

.khan__buy-link{
padding-left: 48px;
}
/*Конец - Одиннадцатый блок, Салман Хан*/
/*________________*/
/*Начало - */
